*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.form-control {
    width: 100%;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    margin-bottom: 10px;
    transition: .3s ease all;
}

.form-control:focus {
    border: 1px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form-content__checkContent {
    text-align: start;
    padding-bottom: 20px;
}

.form-content__checkContent p {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.form-content__check {
    display: flex;
}

.form-content__checkOpt {
    margin-right: 10px;
    margin-left: 10px;
}

.form-content__nameContent,
.form-content__emailPhone {
    display: flex;
    justify-content: space-around;
}

.form-content__name,
.form-content__email {
    margin-right: 10px;
}

.form-content__lastName,
.form-content__phone {
    margin-left: 10px;
}

.form-content__messages {
    height: 100px;
    line-height: 1.5em;
}

.form-content__btn {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease all;
}

.form-content__btn:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 560px) {

    .form-content__nameContent,
    .form-content__emailPhone {
        display: block;
    }

    .form-content__name,
    .form-content__email,
    .form-content__lastName,
    .form-content__phone {
        margin: 0 0 10px 0;
    }
}